/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #000000; 
	/*background: #000000 url(Background.jpg) no-repeat bottom right; */
	margin: 0; 
	padding: 0;
	
	
	}
	@media (max-width: 70em) {
		.intro header {
		  background: #f15a30;
		  width: 100%;
		  height: 27em;
		}
	}
	
p { 
	margin-top: 0; 
	
	text-align: left;
	background-position-x: left;
	background-size: 101%;
	}
	.intro.summary{
		background-color: #9685BA;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
	
	
a:link { 
	
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	/*background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left; */
	width: 100%; 
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	
	background: transparent url(h1.png);
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 453px;
	height: 60px;
	float:center;
	
	

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	
	}
	
	
header h2 { 
	/*background: transparent url(h2.png) no-repeat top left; */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -40px; 
	margin-bottom: 40px; 
	width: 453; 
	height: 100px; 
	float: center;
	color: white;
	
	
	

	/*text-indent: 100%;*/
	white-space: nowrap;
	overflow: hidden;
	}
	
header {
	position: relative;
	background: url(Background.jpg);
	width: 100%;
	height: 221px;
	float: right;
	box-shadow:  -20px 10px 5px  rgba(0,0,0,0.5);
	
}

.summary {
	position: absolute;
	width: 100%;
	height: 100px; 
	background-color: rgba(0, 0, 0, 0.404);
	position: absolute;
	top: 100px;
	
	}
	
	.summary p{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;		
		color: white;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		
	}
	.summary a:link{
		font-weight: bold; 
	text-decoration: none; 
	color: red;
	background-color: white;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;

	}
	.summary :link:hover, link:active, link:focus{
		text-decoration: underline; 
	color: white;
	background-color: black;
	background: url(header.png);
  text-decoration: none;
	}
	


.preamble{
	background: rgba(255, 101, 2, 0.60)url(enlightenment.svg) no-repeat left top;
	background-size: 30%;
	background-position: top center;
	background-position-y: 25px;
	position: relative;
	margin-top: 200px;
	width: 25%;
	padding: 10em 1em 25em 1em;
	clear: right; 
	font-size: 20px;
	height: 250px;
	
	}
	.participation p{
		clear: right; 
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 35px;
	}
	.preamble p{
	
	clear: right; 
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	}
	.participation a:link, a:link:focus{ color: #fcd9b1;}
	.participation :link:hover{ text-decoration: underline; 
		color: rgb(161, 63, 54, 0.60);
		background-color: #fcd9b1;
	  text-decoration: none;}
	
	.preamble h3, .explanation h3,.participation h3, .sidebar h3, .benefits h3, .requirements h3{
		text-align: center;
		position: relative;
		color: rgb(40, 40, 40);
		font-size: 30px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}
	
	.main .explanation {
		background: rgba(30, 81, 146, 0.60)url(about.svg) no-repeat left top;
	background-size: 24%;
	background-position: top center;
	background-position-y: 35px;
	position: relative;
	margin-top: -960px;
	margin-left: 506px;
	width: 25%;
	padding: 10em 1em 25em 1em;
	clear: right; 
	font-size: 20px;
	height: 250px;
	clear: right; 
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: inl;
	}
	
	.main .participation {
		background: rgba(161, 63, 54, 0.60)url(partici.svg) no-repeat left top;
	background-size: 24%;
	background-position: top center;
	background-position-y: 35px;
	position: relative;
	margin-top: -960px;
	margin-left: 1019px;
	width: 25%;
	padding: 10em 1em 25em 1em;
	
	clear: right; 
	font-size: 20px;
	height: 250px;
	}
	
	.main .benefits {

		background:url(benefits.svg) no-repeat;
		background-size: 10%;
		background-position-x: -5px;
		position: relative;
		width: 1691;
		height: 200px;
		margin-left: -10px;
		margin-top: -30px;
		
		
	}
	.main .benefits p{
	
		font-size: 20px;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		width: 1200px;
		margin-left: 215px;
		text-align: left;
		margin-top: 5px;
	}
	.main .benefits h3{
	padding: 20px;
	}
	.main .requirements {
		background: rgba(129, 18, 111, 0.6)url(req.svg)no-repeat center;
		background-size: 20%;
		background-position-x: -5px;
		position: relative;
		width: 1691;
		height: 700px;
		margin-left: -10px;
		margin-top: 60px;
	}
	
	.main .requirements p:nth-child(3){
		margin-left: 400px;
		width: 1100px;
	}
	.main .requirements p:nth-child(4){
		margin-left: 400px;
		width: 1100px;
	}
	

	.main .requirements p{
		font-size: 20px;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		width: 1182px;
		margin-left: 215px;
		text-align: left;
		margin-top: 5px;
	}
	.main .requirements h3{
		padding: 20px;
		}
		.main .requirements a, a:visited{
			color: white;
		}
		.main .requirements a:hover, a:active, a:focus{
			text-decoration: underline; 
	color: rgb(129, 18, 111);
	background-color:white;
    text-decoration: none;
  
		}

footer { 
	background: url(Background.jpg);
	position: absolute;
	width: 100%;
	height: 5em;
	text-align: center; 
	font-size: 1.6em;
	word-spacing: 30px;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	margin-left: -10px;
	}

	
	footer a:nth-child(1){
		visibility: hidden;
		position: relative;

	}footer a:nth-child(1)::after{
		visibility: visible;
		content: " ";
		background: url(HTMLFOoter.svg) no-repeat center;
		background-position-y:20px;
		width: 70px;
		height: 100px;
		display: inline-block;


	}
footer a:hover:nth-child(n)::after{
	background-color: rgba(255, 255, 255, 0.26);
	}
	footer a:nth-child(2){
		visibility: hidden;
		position: relative;
	
	}footer a:nth-child(2)::after{
		visibility: visible;
		content: " ";
		background:  url(CSS\ Footer.svg) no-repeat center;
		background-position-y:20px;
		width: 70px;
		height: 100px;
		display: inline-block;
	}
	footer a:nth-child(3){
		visibility: hidden;
		position: relative;
	
	}footer a:nth-child(3)::after{
		visibility: visible;
		content: " ";
		background:  url(CCFooter.svg) no-repeat center;
		background-size: 60px;
		background-position-y:30px;
		width: 70px;
		height: 100px;
		display: inline-block;
	}
	footer a:nth-child(4){
		visibility: hidden;
		position: relative;
	
	}footer a:nth-child(4)::after{
		visibility: visible;
		content: " ";
		background:  url(Accessibility.svg) no-repeat center;
		background-size: 60px;
		background-position-y:30px;
		width: 70px;
		height: 100px;
		display: inline-block;
	}
	footer a:nth-child(5){
		visibility: hidden;
		position: relative;
	
	}footer a:nth-child(5)::after{
		visibility: visible;
		content: " ";
		background:  url(last.svg) no-repeat center;
		background-size: 60px;
		background-position-y:30px;
		width: 70px;
		height: 100px;
		display: inline-block;
		
	}
footer a:nth-child(5)::after:active{
	background-color: white;
	
}
	

	
	
	
	

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url(Background.jpg) top left repeat-y; 
	position: relative;
	padding: 10px; 
	margin-top: 221px; 
	width: 341px; 
		height: 1890px;
	box-shadow:  -10px 0px 5px  rgba(0,0,0,0.5);
	}
.sidebar h3.select { 
	background: transparent url(select\ a\ design.svg) no-repeat top left;
	background-size: 100%; 
	
	width: 350px; 
	height: 50px; 
	

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-top: -3px;
	}
.sidebar h3.archives { 
	background: transparent url(Arch.svg) no-repeat top left; 
	background-size: 100%;
	margin: 25px 0 5px 0; 
	width:350px; 
	height: 60px; 


	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	background: transparent url(Resou.svg) no-repeat top left; 
	background-size: 100%;
	margin: 25px 0 5px 0; 
	width:350; 
	height: 60px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 3.3em; 
	background: transparent url(lines.svg) no-repeat top left; 
	
display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	color: white;
	font-size: 20px;
	
	}
.sidebar li a:link {
	text-align: center;
		position: relative;
		color: rgb(40, 40, 40);
		font-size: 20px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: purple;
	background-color: white;
	}
.sidebar li a:visited, .sidebar li a:hover {
	background-color: purple;
	color: white;
	text-decoration: none;
	}


.extra1 {
	background: transparent url(http://csszengarden.com/001/cr2.gif) top left no-repeat; 
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	visibility: hidden;
	}
	